
<div class="container-fluid" id="boxes">
    <div class="row">

      
        <div class="col-4">

    <div class="round1">
        <div class="round2">
            <div  class="df">
                <div class="box11">
                    <a href="#">whatsapp</a>
                </div>
                <div class="box11">
                    <a href="#">facebook</a>
                </div>
                <div class="box11">
                    <a href="#">Linkedin</a>
                </div>
                <div class="box11">
                    <a href="#">X</a>
                </div>
                <div class="box11">
                    <a href="#">Insta</a>
                </div>
                <div class="box11">
                    <a href="#">telegram</a>
                </div>
            </div>

        </div>
    </div>

    <div class="pic_round">

    </div>
</div>




<div class="col-4">
    <h1 id="web1">PRAJEESH</h1>
    <p id="web2">WEB DEVELOPER</p>
    
    <div  class="d">
        <div class="box1 d-flex">
            <a href="#">contact</a>
            <p>9025437234</p>
        </div>
        <div class="box1 d-flex">
            <a href="#">Mail</a>
            <p><a href="#">sprajeesh947@gmail.com</a></p>
            <p><a href="#">sprajeesh48@gmail.com</a></p>
        </div>
        <div class="box1 d-flex"  id="add" >
            <a href="#" id="s">address</a>
            <p >311/D , Saraswathi Illam, vellalaburam ,<br> Ottupattarai , Coonoor , Nilgirs 643-102</p>
        </div>
    </div>
</div>

<div class="col-4">
    <div class="login_round">
        <h3 id="o">Login Here</h3>
        <h5 id="n">Hello developers</h5>
    </div>

</div>
</div>
    </div>
   
