
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="nav-brand text-light" >PRAJEESH</div>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link text-light">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-light"  href="#">Home</a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link text-light">Home</a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link text-light">Home</a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link text-light">Contact Me</a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link text-light">Home</a>
                </li>
            </ul>
        </div>
    </nav>

