
<div class="container-fluid">

    <div class="row">
        <div class="col-2">
            <div class="bar mt-5  list-group">
                <img src="https://freesvg.org/img/1536010649.png" id="logo" alt="logo"/>
                <div class="d-flex list-group-item-action">
                    <img [src]="'https://icon-library.com/images/dashboard-icon-png/dashboard-icon-png-14.jpg'" id="ppic" alt="image">
                    <div class="waviys" id="dash">
                        <span style="--i:1">D</span>
                        <span style="--i:2">A</span>
                        <span style="--i:3">S</span>
                        <span style="--i:4">H</span>
                        <span style="--i:5">B</span>
                        <span style="--i:6">O</span>
                        <span style="--i:7">A</span>
                        <span style="--i:8">R</span>
                        <span style="--i:9">D</span>
                       </div>
            </div>

            <div class="d-flex list-group-item-action">
                <img src="https://icon-library.com/images/free-account-icon/free-account-icon-24.jpg" id="ppi" alt="Account Pic"/>
                <h6 id="nam">Account</h6>
            </div>

            <div class="d-flex list-group-item-action">
                <img src="https://cdn3.iconfinder.com/data/icons/mobile-1/100/Icon_HoldingSmartphone-512.png" id="ppi" alt="Mobile Pic"/>
                <h6 id="nam">Mobile</h6>
            </div>

            <div class="d-flex list-group-item-action">
                <img src="https://www.freeiconspng.com/uploads/cash-payment-icon-5.png" id="ppi" alt="Payment Pic"/>
                <h6 id="nam">Payment</h6>
            </div>   
            
            <div class="d-flex list-group-item-action">
                <img src="https://th.bing.com/th/id/OIP.uLIXsgb5mhY9AXr64xwVvQHaHa?rs=1&pid=ImgDetMain" id="ppi" alt="Complients Pic"/>
                <h6 id="nam">Complients</h6>
            </div>    

            <div class="d-flex list-group-item-action">
                <img src="https://th.bing.com/th/id/R.fa26c58d4a3063196019bb644c3f6f49?rik=declpT%2bNRpVgnA&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_458496.png&ehk=vnsVxvEbD67NNWLlpx6i6S1VnIsn9PioGPuu3BjAYYE%3d&risl=&pid=ImgRaw&r=0" id="ppi" alt="Support Pic"/>
                <h6 id="nam">Support</h6>
            </div>    
            </div>
        </div>


        <div class="col-9"  id="k">
            <h1 id="wel">WELCOME PRAJEESH</h1>
            <p>Most delightfull webpage and Design...</p>


           <div id="box">
            <div id="box1">
                <div id="imbox">
                    <img src="" alt="pic"/>
                </div>
                <form>
                    <label>Name</label>
                    <input type="text" name="nam" value="PRAJEESH. S"><br>

                    <label>Email</label>
                    <input type="email" name="nam" value="sprajeesh947@gmail.com"><br>

                    <label>Country</label>
                    <input type="text" name="nam" value="India"><br>

                    <label>Position</label>
                    <input type="text" name="nam" value="Developer">
                </form>
            </div>

            <div id="box3"></div>
            <div id="box4"></div>
           </div>


            <div class="bo1"></div>
            <div class="bo2"></div>
            <div class="bo3"></div>
        </div>
    </div>
</div>
